*{
    transition-duration: $transition-time;
}

html, body {
    margin: 0;
    padding: 0;
    position: relative;
    background-image: url('../../public/img/03.-Snowy-Mint_1\ \(1\).jpg');
    background-size: cover;
    z-index: -2;
}